<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to Luigis</title>

  <link rel="stylesheet" href="/styles/main.css" />
</head>

<body>
  <nav>
    <span class="logo">Luigi's</span>
    <p>About</p>
    <p>Menu</p>
    <p>Reviews</p>
    <p>Login</p>
    <p><i class="fa-solid fa-cart-shopping-fast" id="cart"></i></p>


  </nav>

</body>

</html>
