<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to Luigis</title>

  <link rel="stylesheet" href="/styles/nav.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/header.css" />
  <link rel="stylesheet" href="/styles/footer.css" />
  <link rel="stylesheet" href="/styles/cart.css" />

  <!-- Bungee -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bungee&display=swap" rel="stylesheet">


  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />

  <!-- JQuery -->
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

  <script type="text/javascript" src="scripts/menu-items.js"></script>
</head>

<body>
  <nav>
    <span class="logo">Luigi's</span>
    <p>About</p>
    <p>Menu</p>
    <p>Reviews</p>
    <p>Login</p>
    <p><i class="fa-solid fa-cart-shopping"></i></p>
  </nav>

  <div class="body-container">
    <header class="header">
      <h1>LUIGI's</h1>
      <p id="desc">About Us Descripion</p>
    </header>

    <main class="container">
        <section class="menu-items">
          <h1>MENU</h1>
          <div class="items">
          </div>
        </section>
        <section class="cart" id="current-order">
          <h1 id="pending-order">ORDER</h1>
          <div class="order-items">
          </div>
          <div id="checkout">
            <p>Proceed to Checkout</p>
            <i class="fa-solid fa-cart-shopping" id="icon"></i>
            <output name="counter" class="counter" for="menu-items" id="character">0</output>
          </div>
        </section>
      <section class="new-reviews">
        <div>
          <textarea name="text" id="review-text" placeholder="Leave us a review!"></textarea>
        </div>
        <div>
          <button type="submit">Submit</button>
        </div>
      </section>
      <article class="reviews">
        <div class="review">
          <h3>Mario</h3>
          <p>Rating: <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
              class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></p>
          <p>Wow! It's the best restaurant in the Mushroom Kingdom!</p>
          <p>August 1, 2020</p>
        </div>
        <div class="review">
          <h3>Yoshi</h3>
          <p>Rating: <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
              class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></p>
          <p>Amazing service! Perfect for a dino on the move like me</p>
          <p>July 27, 2020</p>
        </div>
      </article>

      <footer>
        <h3>Address</h3>
        <p class="desc">123 Rainbow Road</p>
        <h3>Phone Number</h3>
        <p class="desc">555-555-5555</p>
        <h3>Hours</h3>
        <p class="desc">24/7</p>
        <div id="icons">
          <div class="footer-icon">
            <i class="fa-brands fa-square-facebook"></i>
          </div>
          <div class="footer-icon"><i class="fa-brands fa-square-instagram"></i>
          </div>
          <div class="footer-icon"><i class="fa-brands fa-square-twitter"></i></div>
        </div>
      </footer>
    </main>
  </div>

</body>

</html>
