<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to Luigis</title>

  <link rel="stylesheet" href="/styles/nav.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/header.css" />

  <!-- Bungee -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bungee&display=swap" rel="stylesheet">


  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />

</head>

<body>
  <nav>
    <span class="logo">Luigi's</span>
    <p>About</p>
    <p>Menu</p>
    <p>Reviews</p>
    <p>Login</p>
    <p><i class="fa-solid fa-cart-shopping"></i></p>
  </nav>

  <div class="body-container">
    <header class="header">
      <h1>LUIGI's</h1>
      <p id="desc">About Us Descripion</p>
    </header>

    <main class="container">
      <section class="menu-items">
        <div class="items">
          <h1>MENU</h1>
          <article class="item">Luigi's Linguini
            <div class="details">
              <p>Fresh-made pasta in a Goomba cream sauce</p>
              <span>Add <i class="fa-solid fa-cart-shopping"></i></span>
            </div>
          </article>
          <article class="item">Slippy Banana Splitty
            <p> <i class="fa-solid fa-cart-shopping"></i></p>
          </article>
          <article class="item">Toad's Taters
            <p> <i class="fa-solid fa-cart-shopping"></i></p>
          </article>
          <article class="item">Bowser Burger
            <p> <i class="fa-solid fa-cart-shopping"></i></p>
          </article>
          <article class="item">Baby Bowser Burger
            <p> <i class="fa-solid fa-cart-shopping"></i></p>
          </article>
          <article class="item">Daisie's Pancake Stack
            <p> <i class="fa-solid fa-cart-shopping"></i></p>
          </article>
          <article class="item">Dry Bone's Marrow
            <p> <i class="fa-solid fa-cart-shopping"></i></p>
          </article>
          <article class="item">Stuffed Piranha Plant
            <p> <i class="fa-solid fa-cart-shopping"></i></p>
          </article>
          <article class="item">The Shy Guy Special
            <p> <i class="fa-solid fa-cart-shopping"></i></p>
          </article>
          <article class="item">Item Box
            <p> <i class="fa-solid fa-cart-shopping"></i></p>
          </article>
        </div>
      </section>
    </main>
  </div>


</body>

</html>
