<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to Luigis</title>

  <link rel="stylesheet" href="/styles/nav.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/header.css" />

  <!-- Bungee -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bungee&display=swap" rel="stylesheet">


  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />

</head>

<body>
  <nav>
    <span class="logo">Luigi's</span>
    <p>About</p>
    <p>Menu</p>
    <p>Reviews</p>
    <p>Login</p>
    <p><i class="fa-solid fa-cart-shopping"></i></p>
  </nav>

  <div class="body-container">
    <header class="header">
      <h1>LUIGI's</h1>
      <p id="desc">About Us Descripion</p>
    </header>

    <main class="container">
      <section class="menu-items">
        <div class="items">
          <h1>MENU</h1>
          <div class="menu-style">
            <article class="item">Luigi's Linguini
              <div class="img">
                <img src="/images/linguine.png"  alt="Image" height="80" width="80">
              </div>
              <div class="details">
                <p>Fresh-made pasta in a Goomba cream sauce.</p>
                <p><i class="fa-solid fa-cart-shopping icon"></i></p>
              </div>
            </article>
            <article class="item">Slippy Banana Splitty
              <div class="img">
                <img src="/images/banana-split.png"  alt="Image" height="80" width="80">
              </div>
              <div class="details">
                <p>Ripe banana with vanilla ice cream and chocolate from the mountain.</p>
                <p> <i class="fa-solid fa-cart-shopping icon"></i></p>
              </div>
            </article>
          </div>
          <div class="menu-style">
            <article class="item">Toad's Taters
              <div class="img">
                <img src="/images/tater-tots.png"  alt="Image" height="80" width="80">
              </div>
              <div class="details">
                <p>Fried to crispy golden perfection.</p>
                <p> <i class="fa-solid fa-cart-shopping icon"></i></p>
              </div>
            </article>
            <article class="item">Bowser Burger
              <div class="img">
                <img src="/images/bowser-burger.png"  alt="Image" height="80" width="80">
              </div>
              <div class="details">
                <p>Makes you breathe fire like King Koopa!</p>
                <p> <i class="fa-solid fa-cart-shopping icon"></i></p>
              </div>
            </article>
          </div>
          <div class="menu-style">
            <article class="item">Baby Bowser Burger
              <div class="img">
                <img src="/images/baby-burger.png"  alt="Image" height="80" width="80">
              </div>
              <div class="details">
                <p>A little less spice than the Bowser burger, but just as tasty!</p>
                <p> <i class="fa-solid fa-cart-shopping icon"></i></p>
              </div>
            </article>
            <article class="item">Daisie's Pancake Stack
              <div class="img">
                <img src="/images/pancake-png.jpeg"  alt="Image" height="80" width="80">
              </div>
              <div class="details">
                <p>Covered in whipped cream and golden syrup.</p>
                <p> <i class="fa-solid fa-cart-shopping icon"></i></p>
              </div>
            </article>
          </div>
          <div class="menu-style">
            <article class="item">Dry Bone's Marrow
              <div class="img">
                <img src="/images/bone-marrow.png"  alt="Image" height="80" width="80">
              </div>
              <div class="details">
                <p>Parsley, capers, shallots.</p>
                <p> <i class="fa-solid fa-cart-shopping icon"></i></p>
              </div>
            </article>
            <article class="item">Stuffed Piranha Plant
              <div class="img">
                <img src="/images/piranha-plant.png"  alt="Image" height="80" width="80">
              </div>
              <div class="details">
                <p>Stuffed with fresh mushrooms and grilled until perfect.</p>
                <p> <i class="fa-solid fa-cart-shopping icon"></i></p>
              </div>
            </article>
          </div>
          <div class="menu-style">
            <article class="item">The Shy Guy Special
              <div class="img">
                <img src="/images/breakfast.png"  alt="Image" height="80" width="80">
              </div>
              <div class="details">
                <p>Two eggs over-easy, hash browns, rye toast all covered in hollandaise.</p>
                <p> <i class="fa-solid fa-cart-shopping icon"></i></p>
              </div>
            </article>
            <article class="item">Item Box
              <div class="img">
                <img src="/images/chef.png"  alt="Image" height="80" width="80">
              </div>
              <div class="details">
                <p>Chef Luigi Mario cooks for you!</p>
                <p> <i class="fa-solid fa-cart-shopping icon"></i></p>
              </div>
            </article>
          </div>

        </div>
      </section>
    </main>
  </div>


</body>

</html>
