<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/styles/test.css" />

  <title>Customers</title>
</head>

<body>
  <h1>I am a customer!</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor neque perferendis vel ipsa, ab pariatur. Possimus,
    doloremque saepe nemo consequuntur dolores non, voluptatum molestiae excepturi reprehenderit aliquid inventore
    obcaecati esse?
    Possimus inventore, non provident quidem adipisci animi? Inventore eos sequi fuga eaque veniam totam, aliquid at
    officia velit placeat esse, officiis amet dolores nesciunt cupiditate nulla fugiat est quidem et?</p>
  <form action="/api/login/4" method="POST">
    <input type="text">
    <button type="submit">Submit</button>
  </form>
</body>

</html>
