*{
  box-sizing: border-box;
}
.cart {
height: 800px;
width: 30%;
background-color: transparent;
display: flex;
align-items: center;
flex-direction: column;
justify-content: space-between;
border: 5px solid rgb(113, 76, 30);
border-radius: 10px;
}

#pending-order{
  display: flex;
  align-items: flex-start;
  flex-direction: row-reverse;
  font-family: Bungee;
}

#checkout {
  display: flex;
  align-items: center;
  height: 43px;
  font-size: 20px;
  border-radius: 25px;
  border: 5px solid #c8280c;
  background-color: #c8280c;
  color: white;
  padding: 10px;
  margin: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#icon {
  padding: 10px;
}

#icon:hover {
  color: rgb(232, 163, 79)
}
