
* {
  box-sizing: border-box;
}

#header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

#luigis {
  margin-bottom: 350px;
  font-family: 'Mea Culpa', cursive;
  font-size: 150px;
  color: rgb(61, 177, 61);
    text-shadow: 1px 1px rgb(253, 244, 244);
}
#luigis:hover{
  color: rgb(167, 214, 167);

  }

#luigis-admin {
  font-family: 'Mea Culpa', cursive;
  font-size: 100px;
  margin-bottom: 3em;
}

#about-us-header{
  font-family: 'Press Start 2P', cursive;
  font-size: 30px;
  color: burlywood;
}

#desc {
  font-family: 'Press Start 2P', cursive;
  font-size: 16px;
  max-width: 60%;
  color: burlywood;

}

.admin-order-template {
  display: flex;
  flex-direction: column;
  min-width: 45%;
  padding: 1em;
}

.admin-order-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.admin-order-buttons {
  font-size: 16px;
}

h2.orders {
  border-bottom: 5px solid black;
  padding-bottom: 0.25em;
  margin-bottom: 1em;
}

.body-container {
  padding-top: 130px;
}
