* {
  box-sizing: border-box;
}

#header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

#luigis {
  margin-bottom: 300px;
  font-family: 'Mea Culpa', cursive;
  font-size: 100px;
  }

#luigis-admin {
  font-family: 'Mea Culpa', cursive;
  font-size: 100px;
  margin-bottom: 3em;
}

#about-us-header{
  font-family: 'Press Start 2P', cursive;
  font-size: 30px;
}

#desc {
  font-family: 'Press Start 2P', cursive;
  font-size: 16px;
  max-width: 60%;

}

.admin-order-template {
  display: flex;
  flex-direction: column;
  width: 45%;
  padding: 1em;
}

.admin-order-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.admin-order-buttons {
  font-size: 16px;
}

h2.orders {
  border-bottom: 5px solid black;
  padding-bottom: 0.25em;
  margin-bottom: 1em;
}

.body-container {
  padding-top: 130px;
}
