* {
  box-sizing: border-box;
}
header {
  height: 80vh;
  padding-top: 30px;
  width: 100%;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

#luigis {
  margin-bottom: 300px;
  font-family: 'Mea Culpa', cursive;
  font-size: 100px;
  }

#about-us-header{
  font-family: 'Press Start 2P', cursive;
  font-size: 30px;
}

#desc {
  font-family: 'Press Start 2P', cursive;
  font-size: 16px;
  max-width: 60%;

}

.body-container {
  padding-top: 130px;
}
