// See: https://sass-lang.com/
html {
  box-sizing: border-box;
}

body {
  color: #545149;
  background-color: transparent;
  font-family: Source Sans Pro;
  font-size: 24px;
}

.body-container {
  height: 457px;
  padding-top: 120px;
  width: 100%;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}
