// See: https://sass-lang.com/
html {
  box-sizing: border-box;
}

body {
  color: #545149;
  background-color: transparent;
}

.menu-items {
  display: flex;
  align-items: center;
  flex-direction:  column;
  justify-content: center;
}

.items {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
font-size: 30px;
}

.menu-items h1 {
  font-family: Bungee;
  color: rgb(113, 76, 30);
}

.item {
  background-color: rgb(231, 186, 160);
  width: 120%;
  height: 120px;
  color: #0c0b0b;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 30px;
  border-radius: 10px;
  border: 5px solid rgb(113, 76, 30);
}
