// See: https://sass-lang.com/
html {
  box-sizing: border-box;
}

body {
  color: rgb(113, 76, 30);
  background-color: transparent;
}

.menu-items {
  display: flex;
  align-items: center;
  flex-direction:  column;
  justify-content: center;
}

.items {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;

}

.menu-items h1 {
  font-family: Bungee;
  color: rgb(113, 76, 30);
  font-size: 40px;
}
.menu-items h2 {
font-family: Bungee;
font-size: 30px;
color: #4c310f;
padding-top: -5px;
display: flex;
align-items: center;
}

.item {
  background-color: rgb(231, 186, 160);
  width: 120%;
  color: #0c0b0b;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 30px;
  border-radius: 10px;
  border: 5px solid rgb(113, 76, 30);
  margin: 10px;
  color: #4c310f;
  padding: 1em;
}

.item:hover {
  box-shadow: 5px 5px #f0a24f;
}

.details {
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.menu-style {
  display: flex;
  margin: 10px;
  padding-left: 5px;
  padding-right: 5px;
  justify-content: space-evenly;
  width: 100%;
}

.icon {
  display: flex;
  padding: 10px;
}

.icon:hover {
  color: rgb(113, 76, 30);
}

article.item .img {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

article.item .img img{
width: 100%;
margin-bottom: -10px;
padding-top: 10px;
}

.reviews {
  height: 800px;
  padding-top: 30px;
  width: 100%;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Bungee;
  font-size: 30px;
}

.review {
  background-color: rgb(231, 186, 160);
  padding-top: 23px;
  width: 100%;
  color: #0c0b0b;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  border: 5px solid rgb(113, 76, 30);
  margin: 10px;
  color: #4c310f;
  padding: 1em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

.review h3 {
  font-family: Bungee;
  font-size: 40px;
  margin: 0;
}

#review-text {
  margin-right: 10px;
  resize: none;
  outline: none;
  width: 100%;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  background-color: transparent;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
  color: #4c310f;
 }

 .new-reviews {
  background-color: rgb(231, 186, 160);
  padding-top: 23px;
  width: 100%;
  color: #0c0b0b;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  border: 5px solid rgb(113, 76, 30);
  margin: 10px;
  color: #4c310f;
  padding: 1em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
 }

 button {
  justify-content: center;
  font-family: Bungee;
  color: white;
  background-color: #4c310f;
 }
