nav span {
  display: flex;
  align-items: center;
}
nav {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  min-height: 100vh;
  justify-content: space-between;
  font-size: 20px;

  background: rgb(255, 253, 251);
}

#cart{
  color: black;
}
