* {
  box-sizing: border-box;
}

nav {
  top: 0;
  left: 0;
  position: fixed;
  padding-left: 1.5em;
  padding-right: 1.5em;
  width: 100%;
  height: 120px;
<<<<<<< HEAD
  color: rgb(113, 76, 30);
  background-color: #a1a19f;
  font-family: 'Press Start 2P', cursive;
=======
  color: #452e11;
  background-color: #a64800;
  background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
  font-family: Bungee;
>>>>>>> submit-order
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
}

.nav-items {
  display: flex;
}

.nav-items p {
  margin-right: 1rem;
}

.nav-items p a {
  color: inherit;
  text-decoration: none;
}

#logout:hover {
  cursor: pointer;
}
