* {
  box-sizing: border-box;
}

nav {
  position: fixed;
  padding-left: 1.5em;
  padding-right: 1.5em;
  width: 100%;
  font-family: Bungee;
  height: 120px;
  color: #0c0b0b;
  background-color: #a1a19f;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

nav span {
  display: flex;
  align-items: center;
  font-family: Bungee;
}
