.reviews {
  padding-top: 30px;
  width: 100%;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: 'Press Start 2P', cursive;
  font-size: 30px;
}

.review {
  background-color: rgb(231, 186, 160);
  padding-top: 23px;
  height: 200px;
  max-width: 30%;
  color: #0c0b0b;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  border: 5px solid rgb(113, 76, 30);
  margin: 10px;
  color: #4c310f;
  padding: 1em;
  font-family: bungee;
  font-size: 20px;
}
.time-ago{
  font-size: 12px;
}
#inline_field{
  background-color: transparent;
  color: rgb(18, 18, 18)
}
.review h3 {
  font-family: 'Press Start 2P', cursive;
  font-size: 30px;
  margin: 0;
}

.review-text {
  margin-right: 10px;
  resize: none;
  outline: none;
  width: 100%;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  background-color: transparent;
  font-size: 30px;
  color: #4c310f;
 }

 .new-reviews {
  margin-left: 20%;
  padding-top: 23px;
  width: 50%;
  color: #0c0b0b;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #4c310f;
  padding: 1em;
  font-size: 18px;
 }

 #toad{
max-width: 10%;
}

 #leave-review {
 float: right;
  font-family: Bungee;
  color: white;
  background-color: #ba1e1e;
 }

